# Environment variables
.env
.env.*
!.env.example

# Firebase credentials
travel-project-ba441-firebase-adminsdk-mzcmn-e33d09bed1.json
*firebase-adminsdk*.json
service-account*.json

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# IDE specific files
.idea/
.vscode/
*.swp
*.swo